#msn_online_main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, rgba(255, 165, 0, 0.2) , silver, white, rgba(255, 165, 0, 0.1));
    position: relative;
    font-family: Calibri, sans-serif;
}

#msn_online_form{
    width: 30%;
}

#msn_online_form h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

#msn_form_intro{
    font-size: smaller;
}

#msn_form_intro h2{
    font-weight: 520;
    font-size: 1.5rem;
}

.msn_form_msg{
    font-weight: 500;
    margin: 1rem 0rem;
}

#errMsg{
    color: red;
}

#msn_forn_contents{
    min-height: 40vh;
    background-color: white;
    box-shadow: 0px 0px 3px 1px lightgrey;
    padding: 4rem 3rem;
}

#msn_form_inputs input{
    width: 100%;
    border: 1px solid black;
    border-width: 0px 0px 1px 0px;
    background-color: transparent;
    padding: 0.3rem 0.1rem;
    margin: 1rem 0rem 0rem 0rem;
}

#msn_form_inputs input:focus{
    border-color: #0067b8 !important;
}

#msn_forn_links{
    color: #0067b8;
    font-size: 0.9rem;
    margin: 1rem 0rem;
}

#msn_form_btn{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 4rem;
}

#msn_form_btn button{
    background-color: rgba(0, 103, 184, 0.9);
    color: white;
    padding: 0.5rem 2.5rem;
    font-size: large;
}

#msn_form_btn button:hover{
    background-color: rgba(0, 103, 184, 1);
}

#msn_form_foot{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: white;
    box-shadow: 0px 0px 3px 1px lightgrey;
    font-size: 0.9rem;
    color: rgba(0,0,0,0.8);
    margin: 1.5rem 0rem;
    padding: 0.5rem 3rem;
}

#msn_form_foot:hover{
    background-color: rgb(234, 234, 234);
    cursor: pointer;
}

#msn_form_foot img{
    height: 30px;
}

#msn_online_main footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1.2rem;
    font-size: smaller;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 0.3rem 0.5rem;
}

/*  */
@media (max-width:1030px) {
    #msn_online_form{
        width: 50%;
    }

    #msn_forn_contents{
        min-height: 20vh;
    }
}

@media (max-width:900px) {
    #msn_online_form{
        width: 60%;
    }
}

@media (max-width:650px) {
    #msn_online_form{
        width: 80%;
    }
}

@media (max-width:500px) {
    #msn_forn_contents{
        padding: 2rem;
    }
    #msn_online_form{
        width: 90%;
    }

    #msn_online_main footer{
        gap: 0.8rem;
        font-size: 0.7rem;
    }

    #msn_form_foot{
        padding: 0.5rem 2rem;
    }
}

@media (max-width:400px) {
    #msn_forn_contents{
        padding: 2rem 1.5rem;
    }
    #msn_online_form{
        width: 95%;
    }

    #msn_online_main footer{
        gap: 0.5rem;
        font-size: 0.6rem;
    }
}

@media (max-width:400px) {
    #msn_forn_contents{
        padding: 2rem 1rem;
    }
}